
.input{
    padding: 15px 30px;
    border: 2px solid gray;
    border-radius: 10px;
}

#btn{
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 20px;
}

button{
   
   margin-left: 50px;
    
}
button i{
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}
